<html>
    <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <title>Friends</title>
      
    </head>

    <style>
        p {
            margin: 0px 0px 0px 0px;

        }

    </style>

    <body>
      <h2>Check email</h2> 
      <!-- show how to flash messages -->
      {% with messages = get_flashed_messages() %}
        {% if messages %}
          {% for message in messages %}
            {{message}}
          {% endfor %}
        {% endif %}
      {% endwith %}

       
      <form action='/validate' method='POST'>
        <label for="email">Email Address:<input type="text" name="email" id="email"></label>
        <input type="submit" value="submit">
      </form>

      {% for entry in all_emails: %}
         <p>{{ entry['email'] }} {{ entry['created_at'] }}</p>
      {% endfor %}

      
    </body>
</html>